/********** All Pages **********/

body {
    width: 100%;
    height: 100%;
    background-color: #1D1D1D;
}

ul {
    list-style-type: none;
    margin-top: 2%;
    margin-left: 3%;
    padding: 0;
    overflow: hidden;
}

.menu {
    float: left;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Kodchasan', sans-serif;
    padding: 14px 16px;
}

.contact {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 3%;
    height: 3%;
}

#contact {
    padding-top: 10%;
    text-align: center;
    width: 100%;
    height: 10%;
}


#logo {
    margin-right: 6%;
    margin-top: 1.2%;
    width: 4%;
    height: 4%;
    float: right;
}

a {
    color: #FFFFFF;
    text-decoration: none;        /* no text color or underlines in hyperlinks*/
}

a:hover {
    color: #707070;
}

.foot {
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Kodchasan', sans-serif;
}

#info {
    margin-bottom: 5%;
    text-align: center;
    width: 95%;
}

/********** Home Page **********/

h1 {
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 4em;
    font-family: 'Kodchasan', sans-serif;
    color: #FFFFFF;
}

h2 {
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    font-family: 'Kodchasan', sans-serif;
    color: #FFFFFF;
}

#introduction {
    width: 90%;
    height: 30%;
}

.project {
    text-align: center;
    margin-bottom: 4%;   /* leave some space between pictures and texts */
    margin-top: 20%;
    width: 75%;
    height: 50%;
}

table {
    text-align: center;
    width: 100%;
}

.projectname {
    font-size: 1.5em;
    font-family: 'Kodchasan', sans-serif;
    color: #FFFFFF;
    text-decoration: none;

}

#description_p1, #description_P2 {
    text-align: center;
    margin-left: 23%;
    width: 55%;
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Kodchasan', sans-serif;
}



/********** About Page **********/


#a1 {
    float: left;
    margin-left: 10%;
    width: 10%;
    height: 10%;
    z-index: 2;
}

#a2 {
    float: left;
    margin-left: 10%;
    width: 10%;
    height: 10%;
    z-index: 2;
}

#a3 {
    float: left;
    margin-left: 10%;
    width: 10%;
    height: 10%;
    z-index: 2;
}

#education, #work, #skill {
    width: 60%;
    text-align: left;
    margin-left: 30%;
    margin-right: 10%;
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: 'Kodchasan', sans-serif;
}

h3 {
    width: 60%;
    margin-left: 30%;
    margin-right: 10%;
    font-size: 2em;
    font-family: 'Kodchasan', sans-serif;
    color: #FFFFFF;
}

h4 {
    width: 60%;
    text-align: left;
    margin-left: 30%;
    margin-right: 10%;
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: 'Kodchasan', sans-serif;
}















